<%- include('./partials/header') %>
<title>Home</title>
</head>

<%- include('./partials/navbarHome') %>

<body>
    <div class="container">

        <div class="dropdown mb-3">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Filtrar por categoria
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/">Todas</a>
                <% categories.map(category => { %>
                    <a class="dropdown-item" href="/category/<%= category.slug %>"><%= category.title %></a>
                <% }) %>
            </div>
        </div>

        <% articles.map(article => { %>
        <div class="card mb-3">
            <div class="card-header">
                <h2><%= article.title %></h2>
                <small class="text-muted"><%= category.title %></small>
            </div>
            <div class="card-body">
                <p><small class="text-muted">Atualizado em: <%= article.updatedAt %></small></p>
                <a href="/<%= article.slug %>"><button class="btn btn-success">Ler artigo</button></a>
            </div>
        </div>

        <% }) %>
    </div>
</body>

<%- include('./partials/footer') %>