<%- include('./partials/header') %>
<title>Home</title>
</head>

<%- include('./partials/navbar-home') %>

<body>
    <div class="container">

        <% if (page == 1) { %>
            <div class="jumbotron">
                <h1 class="display-4">Bem vindo ao { Blog }</h1>
                <p class="lead">Este é um simples blog com artigos sobre o mundo da programação.</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/admin/articles/new" role="button">Quero contribuir!</a>
            </div>
        <% } %>

        <div class="dropdown mb-3">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar por categoria
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% categories.map(category => { %>
                <a class="dropdown-item" href="/category/<%= category.slug %>"><%= category.title %></a>
                <% }) %>
            </div>
        </div>

        <% articles.map(article => { %>
        <div class="card mb-3">
            <div class="card-header">
                <h2><%= article.title %></h2>
                <small class="text-muted"><%= article.category.title %></small>
            </div>
            <div class="card-body">
                <p><small class="text-muted">Atualizado em: <%= article.updatedAt %></small></p>
                <a href="/article/<%= article.slug %>"><button class="btn btn-success">Ler artigo</button></a>
            </div>
        </div>
        <% }) %>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <% if (page > 1) { %>
                <li class="page-item"><a class="page-link" href="/page/<%= page - 1 %>">&laquo; Previous</a></li>
                <% } %>
                <% if (next) { %>
                <li class="page-item"><a class="page-link" href="/page/<%= page + 1 %>">Next &raquo;</a></li>
                <% } %>
            </ul>
        </nav>

    </div>
</body>

<%- include('./partials/footer') %>